@use './assets/layout/layout';

@import 'primeicons/primeicons.css';

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Satoshi', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
