<div class="layout-wrapper" [ngClass]="containerClass()">
  <app-topbar [userName]="displayName" (signOut)="signOut()" />
  <app-sidebar [navItems]="navItems" />
  <div class="layout-main-container">
    <div class="layout-main" [class.layout-main--flush]="flushMain()">
      <router-outlet />
    </div>
    @if (!flushMain()) {
      <app-footer />
    }
  </div>
  <div
    class="layout-mask"
    (click)="onMaskClick()"
    role="button"
    tabindex="-1"
    aria-label="Close menu"
  ></div>
</div>
